*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    background-color: black;
}
a{
    text-decoration: none;
    color: white;
}
.header{
    position: absolute;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1550px;
    top: 20px;
    left: 30px;
}
.header a{
    display: inline-block;
    justify-content: center;
    align-items: center;
    background: red;
    color: rgb(255, 255, 255);
    align-self: flex-start;
    text-decoration: dotted;
    font-family: sans-serif;
    border-radius: 10%;
    padding: 10px 10px;
    
}
.main{
    height: 750px;
    background: url(https://img.freepik.com/vetores-premium/fundo-de-padrao-de-dia-dos-namorados-fofo-sem-impressao-com-forma-de-coracao-em-aquarela-cartao-de-dia-dos-namorados_3119-889.jpg) center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main-child{
     z-index: 10px;
     display: grid;
     justify-items: center;
}
.main h1{
    font-size: 50px;
    max-width: 500px;
}
.main span{
    font-size: 26px;
}
.form-cta{
    display: grid;
    grid-template-columns: 500px 250px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.form-cta input{
    padding: 20px 10px;
    font-size: 20px;
    font-family: sans-serif;
}
.form-cta button{
    background-color: rgb(250, 16, 16);
    color: white;
    outline: none;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
.main p{
    font-size: 19px;
}

    